# General

.DS_Store
hidden/

# Python

Pipfile.lock
server/__pycache__/

# Node

static/package-lock.json
static/node_modules/
static/build/
static/build-audio/
static/build-fonts/
static/loader/

# Misc

static/about/

