# General

.DS_Store
hidden/

# Python

Pipfile.lock
__pycache__/

# Node

static/package-lock.json
static/node_modules/
static/build/
static/build-audio/
static/build-fonts/
static/loader/

# Misc

static/about/package-lock.json
static/about/node_modules/
static/about/build/
static/about/media/unused/

