@import 'main.scss';

/* Pythia */

#pythiaFrame {
	width: 900px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 75px;
}

#pythiaImg {
  float: left;
}

/* Terminal */

#pythiaTextBox {
  margin: 0px;
  padding-left: 3px;
  padding-right: 3px;
  width: 560px;
  height: 600px;
  float: left;
  background-image: url('../media/visual/pythia_bg.png');
}

/* Skip */

#skipBox {
	width: 21px;
	height: 21px;
	position: absolute;
	margin: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #aaaaaa;
	opacity: 0.9;
	cursor: default;
}

#skipIcon {
	width: 21px;
	height: 21px;
	position: absolute;
	right: 0;
	bottom: 0;
}

#skipText {
	p {
		display: block;
		margin: 0;
		top: 0;
		left: 0;
		padding-left: 3px;
		font-family: monospace;
		font-size: 12px;
		letter-spacing: normal;
		text-align: justified;
		color: #aaaaaa;
	}
	display: none;
}

#skipBox:hover {
	animation: expand 0.1s forwards;
	-webkit-animation: expand 0.1s forwards;
	-moz-animation: expand 0.1s forwards;
	-o-animation: expand 0.1s forwards;
	-ms-transition: expand 0.1s forwards;
	opacity: 1;
}


@keyframes expand {
	0% {  }
	100% { width: 112px; height: 130px; }
}
@-webkit-keyframes expand {
	0% {  }
	100% { width: 112px; height: 130px; }
}
@-moz-keyframes expand {
	0% {  }
	100% { width: 112px; height: 130px; }
}
@-o-keyframes expand {
	0% {  }
	100% { width: 112px; height: 130px; }
}
@-ms-keyframes expand {
	0% {  }
	100% { width: 112px; height: 130px; }
}

#skipBox:hover #skipIcon {
	opacity: 0.6;
}

#skipBox:hover #skipText{
	display: block;
	animation: skipfade 0.3s forwards;
	-webkit-animation: skipfade 0.3s forwards;
	-moz-animation: skipfade 0.3s forwards;
	-o-animation: skipfade 0.3s forwards;
	-ms-transition: skipfade 0.3s forwards;
}

@keyframes skipfade {
	0% { opacity: 0; }
	30% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes skipfade {
	0% { opacity: 0; }
	30% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes skipfade {
	0% { opacity: 0; }
	30% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes skipfade {
	0% { opacity: 0; }
	30% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes skipfade {
	0% { opacity: 0; }
	30% { opacity: 0; }
	100% { opacity: 1; }
}
