@import 'main.scss';

/* Container */

#staticSplash, #splashContainer {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	background-color: $black;
}

/* Loader */

#blurSplash {
	width: 900px;
	height: 600px;
  position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  padding-top: 30px;
	-webkit-filter: blur(9px);
	-moz-filter: blur(9px);
	-o-filter: blur(9px);
	-ms-filter: blur(9px);
	filter: blur(9px);
}

#loaderFrame {
	top: 300px;
	width: 900px;
	height: 120px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	p {
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 9px;
		font-family: $fontI;
		font-size: 15px;
    letter-spacing: 1.5px;
		text-align: center;
		color: $white;
    text-shadow: 1.2px 1.2px $black;
	}
}

#loader {
  width: 105px;
  height: 45px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#loader div {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
	box-shadow: 1.2px 1.2px $black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#loader div:nth-child(1) {
  left: 12px;
  animation: ld1 0.9s infinite;
}

#loader div:nth-child(2) {
  left: 12px;
  animation: ld2 0.9s infinite;
}

#loader div:nth-child(3) {
  left: 48px;
  animation: ld2 0.9s infinite;
}

#loader div:nth-child(4) {
  left: 84px;
  animation: ld3 0.9s infinite;
}

@keyframes ld1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ld2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(36px, 0);
  }
}

@keyframes ld3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* Hints */

#hintBox {
	width: 1200px;
	height: 30px;
	position: absolute;
	margin-left: 3px;
	margin-top: 3px;
	p {
		margin: 0;
		color: $white;
		text-align: justify;
		text-justify: inter-word;
		text-shadow: 0.9px 0.9px $black;
	}
}

#hintText {
	display: none;
	font-size: 15px;
	font-family: $fontI;
	letter-spacing: 1.5px;
}

#hintPress {
	padding-top: 15px;
	font-size: 12px;
	font-family: $fontN;
	text-align: left;
	letter-spacing: 1.2px;
}

/* Splash */

#expoSplash {
	width: 900px;
	height: 600px;
  position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  padding-top: 30px;
}

#cloudyGIF {
	z-index: -1;
}

#zTitleText, #titleText {
  width: 900px;
  position: absolute;
  top: 90px;
	p {
		margin: 0px;
		padding-left: 3px;
		padding-right: 3px;
		font-family: $fontN;
		font-size: 90px;
    letter-spacing: 3px;
		text-align: center;
		color: $white;
    text-shadow: 1.8px 1.8px $gray;
  }
}

#zSubTitleText, #subTitleText {
  width: 900px;
  position: absolute;
  top: 510px;
	p {
		margin: 0px;
		padding-left: 3px;
		padding-right: 3px;
		font-family: $fontI;
		font-size: 24px;
    word-spacing: 24px;
    letter-spacing: 9px;
		text-align: center;
		color: $white;
    text-shadow: 1.2px 1.2px $gray;
  }
}

#zButton, #button {
  width: 120px;
  height: 45px;
	position: absolute;
	top: 600px;
	left: 50%;
	margin-left: -60px;
  background-color: inherit;
  border-color: $white;
  font-family: $fontN;
  color: $white;
  font-size: 10px;
  text-shadow: 0.6px 0.6px $gray;
  letter-spacing: 2.1px;
  padding-left: 10px;
	border-radius: 30px;
	cursor: url('../media/cursor.png'), auto;
}

#button:hover {
  width: 150px;
  height: 54px;
	margin-left: -75px;
  font-size: 12px;
}
